.manage-patient-container {
    .m-p-title {
        font-size     : 15px;
        margin        : 10px 0;
        text-align    : center;
        text-transform: uppercase;
    }

    .manage-patient-body {
        padding: 0 20px;

        .table-manage-patient {
            table {
                font-family    : arial, sans-serif;
                border-collapse: collapse;
                width          : 100%;
            }

            td,
            th {
                border    : 1px solid #dddddd;
                text-align: left;
                padding   : 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        }
    }
}