.profile-doctor-container {
    .intro-doctor {
        display: flex;


        .content-left {
            // width          : 20%;
            background        : center center no-repeat;
            width             : 80px;
            height            : 80px;
            border-radius     : 50%;
            // margin         : 10px 20px;
            background-size   : cover;
        }

        .content-right {
            width         : 80%;
            display       : flex;
            flex-direction: column;
            padding-left  : 10px;

            .up {
                font-weight: 600;
            }

            .down {
                text-align: justify;
            }
        }
    }
}