.verify-email-container {
    .infor-booking {
        font-weight   : 600;
        font-size     : 17px;
        margin-top    : 30px;
        text-align    : center;
        text-transform: uppercase;
        color         : red;
    }
}